body {
    background-color: rgb(153, 152, 152);
    max-width: 1200px;
    margin: auto;
    width: 80%;
}

*{
    box-sizing: border-box;
}

header {
    text-transform: uppercase;
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
 display: grid;
 grid-template-columns: 1fr;
 grid-template-rows: repeat(6, 50px);
}

a {
    text-decoration: none;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin: 15px;
    font-weight: bold;
    text-align: center;
}

img {
    width: 100%;
    border: 5px solid rgb(59, 59, 59);
    border-radius: 10px;
    padding: 10px;
}

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}

h2 {
    background-color: rgb(59, 59, 59);
    color: white;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

p {
    text-align: center;
}

section {
    border: 3px solid rgb(59, 59, 59);
}

.tarolo {
    display: grid;
    grid-template-columns: 20vw 50vw;
    border: 0.5vw solid black;
    border-radius: 2vw;
    padding: 1vw;
    padding-left: 2vw;
}


@media screen and (max-width: 850px){
    article {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 500px){
    article {
        grid-template-columns: 1fr;
    }
    .tarolo {
        grid-template-columns: 1fr;
    }
}